$primary-color: #78cc6d;
$secondary-color: #1b1c1d;
.container {
  color: white;
  height: auto;
  min-height: 38vh;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
}

#users {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#users td,
#users th {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  width: 11vw;
  text-align: left;
  @media (max-width: 768px) {
   width: 28vw;
  }  

  

}

#users th {
  color: white;
  text-align: left;
}

.button {
  background-color: #d9dce5;
  border-style: solid;
  border-color: #d9dce5;
  border-radius: 5px;
  border-width: 2px;
  color: black;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  width: 70px;
  margin-right: 1rem;
  margin-top:1rem;
}

.addButton {
  background-color: #d9dce5;
  border-style: solid;
  border-color: #d9dce5;
  border-radius: 5px;
  border-width: 2px;
  color: black;
  padding: 5px 5px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  width: 100px;
  margin-bottom: 2rem;
}

.button:hover {
  background-color: black;
  border-color: $primary-color;
  color: $primary-color;
  text-decoration: solid;
  cursor: pointer;
}

.nameForm {
  display: flex;
  flex-direction: column;
}

.usernameForm {
  display: flex;
  flex-direction: column;
}

.input {
  margin-bottom: 2rem;
  height: 35px;
  border-radius: 4px;
  outline: none;
  background: #f1f1f1;
  border: none;
  padding: 1.5rem;
  &:focus {
    border: 2px solid $primary-color;
    border-radius: 8px;

    caret-color: $primary-color;
  }
}

.addTitle,
.editTitle {
  color: $primary-color;
}

.buttonOverview {
  display: flex;
  justify-content: flex-end;
}
.label {
  font-weight: 600;
}
