.card {
  width: 40ch;
  height: 40ch;
  background: white;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 0.1em 0.5em 0 #78cc6d, 0 0.2em 1.1em 0 #78cc6d !important;
  transition: box-shadow 0.5s, opacity 0.5s;
  will-change: transform;
  border: 15px solid white;

  @media (max-width: 1024px) {
    width: 20ch;
    height: 20ch;
  }
}
.cardImg{
  background-image: url("location.svg");

}
.cardImg1 {
  background-image: url("youtube.svg");
}

.cardImg2 {
  background-image: url("Translate.svg");
}

.cardImg3 {
  background-image: url("search.svg");
}

.cardImg4 {
  background-image: url("sun.svg");
}

.cardImg5{
  background-image: url("edit.svg");

}
.cardImg6{
  background-image: url("figma.svg");

}
.cardImg7{
  background-image: url("sodasnacks-white.jpg");

}
.card:hover {
  box-shadow: 0px 0px 45px -5px #78cc6d;
}

.goC {
  display: flex;
  justify-content: center;
  @media (max-width: 1024px) {
    align-items: center;
  }
}

.paddingDiv {
  padding: 5vh;

  @media (max-width: 1024px) {
    padding: 5vh 5vw 5vh 5vw;
  }
}

.selfTitle {
  padding: 0 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40vw;

  h3{
    white-space: pre-wrap;

  }
  @media (max-width: 1024px) {
    width: 50ch;
    font-size: 10px;
    padding:0 2vh;
    h3 {
      font-size: small;
    }
  }
}

.demoButton {
  background-color: #d9dce5;
  border-style: solid;
  border-color: #d9dce5;
  border-radius: 5px;
  border-width: 2px;
  color: black;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  width: 100px;
  @media (max-width: 768px) {
    font-size: 10px;
    width: 90px;
  }
}

.demoButton:hover {
  background-color: black;
  border-color: #78cc6d;
  color: #78cc6d;
  text-decoration: solid;
  cursor: pointer;
}
