.boxContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 15px;
    width: 15px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background: rgb(120, 204, 109);
}