* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.head {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  background-color: #1b1c1d;
  border: 0 solid transparent;
  align-items: center;
}

.ui_button {
  cursor: pointer;
  display: inline-flex;
  min-height: 1em;
}

.ui_button_inverted {
  width: 100px;
  height: 100px;
  color: aliceblue;
  text-shadow: none !important;
  background-color: transparent;
  box-shadow: 0 0 0 2px #fff inset !important;
  filter: hue-rotate(-60deg);
  transition: all 1s linear;
}

.ui_button_inverted:hover {
  color: aqua;
  width: 100px;
  height: 100px;
  filter: hue-rotate(-60deg);
  transition: all 1s linear;
}

.mtop h1 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
}

.mtop h2 {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.space {
  margin-left: 10px;
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.slide {
  display: inline-block;
  animation: fadeIn linear 1.5s;
  -webkit-animation: fadeIn linear 1.5s;
  -moz-animation: fadeIn linear 1.5s;
  -o-animation: fadeIn linear 1.5s;
  -ms-animation: fadeIn linear 1.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#body1 {
  background-image: linear-gradient(-225deg, #ebfaf6 0%, #fdecfa 100%);
}

.justify-content-center {
  text-align: start;
  text-transform: capitalize;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.pplogo {
  border-radius: 50%;
  box-shadow: 0 0 10px 5px #434643;
  align-self: center;
  max-width: 150px;
  max-height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hlink {
  display: flex;
  margin-bottom: 10px;
}

.headerh1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.28em;
}

.headerh2 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.28em;
  padding-bottom: 20px;
}
