html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #1b1c1d;
}

::selection {
  background-color:grey;
}

.trails-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trails-text {
  position: static;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: rgb(66, 61, 63);
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  will-change: transform, opacity;
  overflow: hidden;
}

.trails-text > div {
  overflow: hidden;
}

.slidein {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.skillHeader {
  font-size: 2rem;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 2;
  color: #78cc6d;
  letter-spacing:1px;
}

.name {
  width: 100px;
  padding-right: 20px;
  text-align: center;
  font-weight: 700;
  align-self: center;
  font-size: 1.3rem;
  display: flex;
  justify-content: flex-start;
  width: -webkit-fill-available;
}

.fillContainer {
  background: #BEBEBE;
  border-radius: 3px;
  height: 3px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 100%;
}

.fill {
  background-color: #78cc6d;
  background-image: linear-gradient(to bottom, #78cc6d, #78cc6d);
  height: 100%;
  border-radius: 3px;
  width: 100%;
}

.value {
  padding: 0 5px;
  text-align: center;
  font-weight: 400;
  align-self: center;
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
  background: #5d60637e;
  color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.innerSkillLabel {
  margin-top: -5px;
  display: flex;
  justify-content: flex-end;
}

.paddingB {
  padding-bottom: 20px;
}
.paddingT {
  padding-top: 20px;
}
.big {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0px;
}

p {
  margin: 0 0 15px;
  text-align: start;
  white-space: pre-line;
}

.p4 {
  @media (max-width: 1024px) {
    padding: 5vh;
  }
}
.container2 {
  width: 60%;
  height: auto;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 1024px) {
    width: 100%;
    padding-right: 0vh;
    flex-direction: column-reverse;
  }
}

.container1 {
  width: 100%;
  max-width: 500px;
  @media (max-width: 1040px) {
    max-width: 90%;
  }
}
.backgroundH {
  background-color: #1b1c1d;
  color: #d9dce5;
}
.backgroundH img {
  float: left;
  height: 250px;
  width: 250px;
  @media (max-width: 1040px) {
    height: 200px;
    width: 200px;
  }
}
.innerSkillsHeader {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 1rem;
}

strong {
  color: #78cc6d;
}

.colorG {
  color: #78cc6d;
}

.info-list ul {
  padding-top: 3vh;
  padding-bottom: 3vh;
  text-align: -webkit-center;
  position: relative;

  @media (max-width: 425px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
}

.info-list ul li {
  display: inline-block;
  padding: 0px 50px;
}

.socialmedia {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 4;
  margin-left: .5rem;
  right: 0;
}

.socialmedia a {
  display: block;
  text-align: center;
  // padding: 16px;
  width: auto;
  height: auto;
  transition: all 0.3s ease;
  color: grey;
  font-size: 25px;
  
}

.fab {
  padding: 7px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  color: #d9dce5;
  background:rgba(255,255,255,0.1);
  border-radius: 5px;
  margin-top: 0.5rem;
}

.fas {
  padding: 7px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  align-self: center;
  color: #d9dce5;
  background:rgba(255,255,255,0.1);
  border-radius: 5px;

}

.fab .fa-linkedin {
  margin-top: 20px;
}

@keyframes mymove {
  0% {
    color: transparent;
  }
  100% {
    color: #78cc6d;
  }
}

@keyframes mymove1 {
  0% {
    color: #78cc6d;
  }
  100% {
    color: #78cc6d;
  }
}
.fab:hover {
  color: #78cc6d;
  background: white;
  border-radius: 5px;
  animation: mymove;
  animation-duration: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

.fas:hover {
  color: #78cc6d;
  background: white;
  border-radius: 5px;
  animation: mymove;
  animation-duration: 0.5s;
  cursor: pointer;
  text-decoration: none;
}

div p {
  line-height: 23px;
}

.meButton {
  background-color: transparent;
  border-style: solid;
  border-color: #d9dce5;
  border-radius: 5px;
  border-width: 2px;
  color: #d9dce5;
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
}

.meButton:hover {
  background-color: whitesmoke;
  color: #78cc6d;
  text-decoration: solid;
  animation: mymove;
  animation-duration: 1s;
}

.meDiv {
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  justify-content: center;
}

.margin-container-skills {
  margin: 10px;
}

.cv {
  color: #868e96;
  border: 2px solid #868e96;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  width: 150px;
  justify-content: center;

  @media (max-width: 1190px) {
    justify-content: center;
  }
}

.d-resume{
  display: flex;
  justify-content: flex-end;
  @media (max-width: 1190px) {
    padding-top: 10px;
  }
}

a.cv:hover {
  color: #78cc6d;
  background-color: white;
  border: 2px solid white;

  text-decoration: none;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  padding: 30px 5vw 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  position: relative;
  bottom: -100px;
  z-index: 9;
  color: #868e96;
  border-top: 1px solid hsla(0,0%,100%,.44);;
  @media (max-width: 1190px) {
    padding: 20px 5vw 25px;
  }
  @media (max-height: 500px) {
    padding: 30px 5vw 25px;
  }
}
.mini-spacer {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.44);
  background-blend-mode: overlay;
}

.left-foot {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.right-foot {
  width: 20vw;
  text-align: right;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  letter-spacing: 0.063em;
  font-size: 0.75em;
  @media (max-width: 1190px) {
    flex-direction: column;
    width: 39vw;
    text-align: center;
    height: 12vh;
  }
  @media (max-width: 320px){
    flex-direction: column;
    width: 70vw;
    text-align: center;
    height: 12vh;
  }
}

.vw-80 {
  width: 80%;
}

.d-Flex-Center {
  display: flex;
  justify-content: center;
}
