.icon-left {
width: 250px;
@media (max-width:1024px){
  width: 200px;
}

}

.sunny {
  content: url(sunny.gif);
}

.snowy {
  content: url(snowy.gif);
}

.season-container {
  padding-bottom: 5vw;
}
.season-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-bottom: 5vw;

}

.error{
  font-size:x-large;
  text-align: center;
}
.winter {
  background-color: aliceblue;
}

.summer {
  background-color: orange;
}

.text-wiki {
  color: rgb(120, 204, 109) !important;
}

.text-wiki-detail {
  color: #ffffff !important;
}

.summer-title{
  font-size: x-large;
  font-weight: bolder;
}

.lat-title{
  font-size: large;
}

.long-title{
  font-size: large;
}