.vertical-timeline-element-content {
    box-shadow: 0 0.1em 0.5em 0 #78cc6d, 0 0.2em 1.10em 0 #78cc6d !important;
    padding: 2em 3em !important;
    background-color: #ffffffdc;
    
  }

  .vertical-timeline{
      margin-bottom: 2rem;
  }
  
  .vertical-timeline-element-date {
      font-size: 1rem;

      color:#78cc6d;

      @media (max-width: 1169px) {
          color: black;
      }
  }

  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date{
      font-size: 1.1rem;
      font-weight: bolder;
  }

  ul{
    margin-top: 1rem;
    li::marker {
        display: inline-block;
        color: rgb(1, 118, 152);
        font-size: initial;
      }

    
    }
  .split{
      white-space: pre-line;
      text-align: start;
      padding-bottom: 5px;
      


  }

  .vertical-timeline.vertical-timeline--two-columns::after{
      content: '⚪';
      color: white;
      position: absolute;
      bottom: -20px;
      right: 573px;
      font-size: larger;
  }